.banner {
  position: relative;
  padding: 0%;
  /* width: 300px; */
  display: flex;
  flex-basis: auto;
}

.banner .title {
  position: absolute;
  width: 600px;
  padding-top: 150px;
  padding-left: 150px;
}

.banner h1 {
  color: white;
  display: block;
  position:absolute;
}
